.slider-dots {
    position: absolute !important;
    right: 2% !important;
    top: 2% !important;
    display: flex !important;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .slider-dots li {
    margin: 5px 0;
  }
  
  .slider-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
  }
  
  .slider-dots li.slick-active button {
    background-color: white;
  }
  